  
.m-index {
  .l-container {

 .m-news{
 	background:#F0F0F0;
      @include flexbox();
      @include flex-direction(column);
      height: 100%;
      > * {
        width: 100%;
      }
 	header{
 		color:#333;
 		 background: #FED847;
        height: .44rem;
        text-align:center;
        line-height:.44rem;
        font-size:.24rem;
        font-weight:900;
       
 	}

  section{
    ul{   
        background:#fff;
        padding:.05rem;
         @include flexbox();
        li{
          &:nth-child(2){
            font-size:.20rem;
            font-weight:900;
            padding:.05rem;
          }
           &:nth-child(3){
           color:#777;
            font-weight:900;
            margin:.05rem;
            height:.15rem;
           // background:#ccc;
          }
        }
    }
  }

 	
 }
}
}


 
          
           